body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001732;
    color: #fff;
}

header {
    background-color: #FF8C00; 
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: #FFA500; 
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header-content .logo {
    height: 80px; 
    margin-right: 10px;
}

.header-content .header-text {
    color: white;
    font-size: 2em;
}

.search-bar {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

#link-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #0b5383;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-container {
    margin-top: 20px;
}

.category-title {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.link-entry {
    margin: 10px 0;
    padding: 10px;
    background-color: #074168;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-entry a {
    color: #8defe0;
    text-decoration: none;
    font-size: 1em;
}

.link-entry a:hover {
    text-decoration: underline;
}

.link-description {
    color: #ccc; 
    font-size: 0.9em;
}