body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001732;
    color: #fff;
}

nav {
    background-color: #001732; /* Dark orange */
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure items are spaced out */
    width: 100%;
}

.nav-username {
    margin-right: 10px;
    font-size: 1.2em;
    color: white;
}

.nav-button {
    background-color: #FFA500; /* Lighter orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em; /* Space between buttons */
}

.nav-button:hover {
    background-color: #FFAA33; /* Hover color */
}

.nav-button:first-of-type {
    margin-right: 0; /* Remove right margin from first button to avoid extra space */
}

header {
    background-color: #FF8C00; /* Dark orange */
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: #FFA500; /* Lighter orange */
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header-content .logo {
    height: 80px; /* Double the original height of 40px */
    margin-right: 10px;
}

.header-content .header-text {
    color: white;
    font-size: 2em;
}

.search-bar {
    margin: 20px auto;
    max-width: 840px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

#link-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #0b5383;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-container {
    margin-top: 20px;
}

.category-title {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

.link-entry {
    margin: 10px 0;
    padding: 10px;
    background-color: #074168;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-entry a {
    color: #8defe0;
    text-decoration: none;
    font-size: 1em;
}

.link-entry a:hover {
    text-decoration: underline;
}

.link-description {
    color: #ccc; /* Lighter gray color */
    font-size: 0.9em;
}

.hidden {
    display: none;
}

/* New Styles */
.login-container {
    margin: 0 auto;
    padding: 2em;
    max-width: 400px;
    background-color: #0b5383;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1em;
}

.login-container label {
    display: block;
    margin: 0.5em 0 0.2em;
}

.login-container input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #001732;
    color: white;
}

.login-container button {
    padding: 0.7em 1.5em;
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #FFA500;
}

.error-message {
    color: #d9534f; /* Bootstrap danger color */
    margin-top: 1em;
}

.add-article-container {
    margin: 0 auto;
    padding: 2em;
    max-width: 400px;
    background-color: #001732;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-article-container h2 {
    margin-bottom: 1em;
}

.add-article-container label {
    display: block;
    margin: 0.5em 0 0.2em;
}

.add-article-container input[type="text"],
.add-article-container input[type="url"],
.add-article-container textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #000000;
    border-radius: 4px;
}

.add-article-container button {
    padding: 0.7em 1.5em;
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-article-container button:hover {
    background-color: #FFA500;
}

.success-message {
    color: #4CAF50;
    margin-top: 1em;
}

#add-article-button ~ #analytics-button, #home-button{
    margin-left: 10px; /* Space between Add Article and Analytics buttons */
}

.spacer {
    flex-grow: 1; /* Take up remaining space to push items to the right */
}

.add-article-container select {
    width: 103.7%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #fff; /* White background for dropdown */
    color: #000; /* Black text */
}

.add-article-container select:focus {
    outline: none;
    border-color: #FFA500; /* Border color to match the theme on focus */
}

.analytics-container {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    background-color: #001732;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.analytics-container h2 {
    margin-bottom: 1em;
}


.analytics-container {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    background-color: #001732;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white; /* Adjust as needed */
}

.analytics-container h2 {
    margin-bottom: 1em;
}

/* Selection bar */
.selection-bar {
    text-align: left;
}

.selection-bar select {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
}

/* Server grid for 3 per row */
#server-grid {
    width: 90%; /* Adjust width as needed */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.server-details {
    flex: 1 1 calc(30% - 1em); /* Adjust to ensure three items per row */
    padding: 0.5em;
    background-color: #0b5383;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.server-details h3 {
    margin: 0.5em 0;
}

.server-details p {
    margin: 0.5em 0;
}

.server-status.running {
    color: green;
}

.server-status:not(.running) {
    color: red;
}